<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=LAPTOP-DAIS5V1E\SQLEXPRESS;Initial Catalog=RocketPOS;Integrated Security=True;"/>
    <add key="PrinterName" value="Microsoft Print to PDF"/>
    <add key="AppPath" value="D:\RocketPOS.Startup"/>
    <add key="WebAppUri" value="https://localhost:5001/"/>
    <add key="KotTimerLimit" value="1"/>
  </appSettings>
</configuration>
